.container 
  width: 85%
  max-width: 1256px  
  margin: auto
.container--projects
  width: 91.8%
.container--team
  width: 76.5%  
.row
    display: flex
    align-items: flex-start
    justify-content: space-between
.col
  &-30
    flex-basis: 30%
    &-projects
      flex-basis: 31.6%
  &-33
    flex-basis: auto
  &-50
    width: 50%  