.container 
  width: 93%  
  max-width: 1240px //1236
  margin: 0 auto 
.row
    display: flex
    align-items: flex-start
    justify-content: space-between
.col
  &-30
    flex-basis: 30.6% //30%
    &-projects
      flex-basis: 31.7%
      padding 33.6% 0 0 0
      overflow hidden
      position relative
  &-33
    flex-basis: auto
  &-50
    width: 45%  
    &__projects
      width: 55%
      height: 482px
.styles
  &__row 
    display: flex    
.col
  &__styles
    max-width: 25.28rem 
    margin: -40px 43px 36.2px 68.1px 
  &__styles2
    width: 25.28rem
    height: 25rem 
    margin: 0 0 -41px 68.1px 
  &__styles3
    width: 25.28rem
    height: 19.64rem 
    margin: -7.9rem 0 2.57rem  
  &__styles4
    width: 25.28rem
    height: 44.64rem  