.button
  padding: 11px 24px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.956rem
  outline: none
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary     
    color: $light 
    box-shadow: 0px 5px 15px rgba( $primary, 0.2)
    transition: box-shadow 0.2s
    padding: 11px 20.2px  
    outline: none
    &:hover
      box-shadow: none      
  &--outline
    border: 1px solid $light
    background-color: transparent 
    color: $light
.label
  font-size: 1.17rem
  &--light
    color: rgba($light, 0.5)   
.input
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)   
  font-size: 1.285rem
  padding: 0.5rem 0
  outline: none
  &-group
    position: relative
    display: block
  &:focus
    outline: none  
  &--light
    color: $light
    &::placeholder
      color: $light
      opacity: 1

       
.bar       
  &-name
    top: 1rem
  &-phone 
    top: 1rem
  &-userquestion 
    top: 1rem  
  width: 100%
  position: relative
  &:before, 
  &:after
    content: ''
    height: 2px
    top: -15px
    width: 0
    background-color: $primary
    position: absolute 
    transition: 0.2s ease all
    transition: 0.2s ease all
    transition: 0.2s ease all
  &:before
      left: 50%
  &:after
      right: 50% 

input:focus 
  ~ .bar:before,
  ~ .bar:after
    width: 50%      
      
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked ~
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem
  &__label
    display: flex
    align-items: center
    font-size: 1.142rem
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary  
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
    &--center
      margin-left: 22.6%     
em.invalid
  color: tomato
  font-size: 1.1rem
  position: absolute
  top: 55px
  right: 0px
  margin:  auto
  letter-spacing: 0.020rem 
.control__policy em.invalid
  width: 100%
  text-align: center
  margin-right: 4.4%
  margin-top: -1rem  
.footer__policy em.invalid
  width: 100%
  text-align: center
  margin-top: -1rem
input
  &.invalid
    border-bottom: 1px solid tomato
.btn
  padding: 10px 18px
  background-color: $secondary
  text-transform: uppercase
  color: $primary
  background-color: transparent
  border: 2px solid $primary
  margin-bottom: 1rem 
  outline: none
  &:hover
    color: $light
    cursor: pointer
    transition: all 500ms ease





        
