@media screen and ( max-width: 1366px )
    .section-title
        font-size: 0.95rem
   

@media screen and ( max-width: 1326px )
    .logo
        font-size: 0.95rem
    .contacts_menu__contacts 
        display: flex
    .contacts__phone    
        margin-right: 10px 
        align-items: center
    .hero__text
        margin-bottom: 3rem  
    .hero__button
        padding: 20px 27px


@media screen and ( max-width: 1200px )
    html 
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem    
    .hero__text
        margin: 0
        padding-top: 10px
        line-height: 1.4  
        padding-bottom: 36px
    .hero__button
        padding: 20px 24px    


@media screen and ( max-width: 992px ) 
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0   

@media screen and ( max-width: 760px )
    .row
        flex-direction: column
        align-items: center
    .types
      &__card
        margin-bottom: 5rem  
    .card
      &__text
        margin-left: 0
    .button
        &--outline
            margin-top: 1.42rem

  
@media screen and ( max-width: 576px ) 
    .container
        width: 90%   
        margin-top: 0
    .contacts
        &__phone
            margin-right: 0.2rem
            color: $light
            text-decoration: none
        &__button
            display: none
    .logo
       font-size: 1rem
       letter-spacing: 0.036em         
    .title
        font-size: 1.85rem
        margin: 0
    .hero    
        &__scroll-down
            display: none
        &__title  
            letter-spacing: 0.017em  
            padding-top: 3.48rem
            line-height: 1.47em
    .hero
        &__content
            max-width: 28rem
        &__text
            font-size: 1.46rem   
            line-height: 1.4em
            letter-spacing: 0.01em
            padding-bottom: 32px
            max-width: 26.3rem
        &__button
            width: 100%
            font-size: 1.1rem
    .button--outline
            margin-top: 1.8rem    
      
    .section-title
        display: none     
  
 
@media screen and ( max-width: px )
    .container
        width: 90%
        margin-top: 0
   
    .hero
        &__title
            font-size: 1.9rem 
            padding-top: 3.398rem
            padding-bottom: 0.7rem
        &__text
            font-size: 1.375rem   
            line-height: 1.5em
            margin: 0
        &__button
            width: 100%
        &__content
            max-width: 29.5rem    
 


        

        


                

/** Медиа запросы второй секции карточек **/

      

