@media screen and ( max-width: 1366px )   
    .section-title
        font-size: 0.95rem


@media all and (-ms-high-contrast:none)
         
    .hero
        &__scroll-down
                padding: 1.5rem 0 0 3rem
        &__button 
            &__one 
                margin-bottom: 8rem   /* IE10 */
    .control
        &__text
            width: 40rem            
    *::-ms-backdrop, 
    .hero
        &__scroll-down
                padding: 1.5rem 0 0 3rem   /* IE11 */
    .control
        &__text
            width: 40rem    


@media screen and ( max-width: 1326px )
    .contacts_menu__contacts 
        display: flex
    .contacts__phone    
        margin-right: 10px 
        align-items: center
    .hero__text
        margin-bottom 3rem  // откючен
    .hero__button
        padding 20px 27px // ток 

@media screen and ( max-width: 1200px )
    html 
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem    
    .hero__text
        margin: 0
        padding-top: 10px
        line-height: 1.4  
        padding-bottom: 36px
        max-width: 473.5px
    .hero__button
        padding: 20px 24px    
    .col-50
        &__projects
            height: 100%
@media screen and (min-width: 1048px) and( max-width: 1114px )     
    .card
        &__text
            min-width: 22.3rem   

@media screen and ( min-width: 992px )   
    .card
        &__image
            &--team
                width: 19.6rem                 

@media screen and (min-width: 957px) and( max-width: 1047px ) 
    .card
        &__text
            min-width: 21.7rem   
@media screen and ( max-width: 992px ) 
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0        
    .footer
        &__map
            width: 100%              

@media screen and ( max-width: 906px )
    .row__slide
        flex-direction: column
    .col-50
        width: 100%
        &__projects
            margin-top: 3rem
    .swiper-slide-image
        width: 100%  
    .footer
        &__map
            width: 100%  
        &__title__wrap
            &__text
                max-width: 38rem      

@media screen and (min-width: 760px) and( max-width: 837px )
    .card 
        &__pricatag
            padding: 1.2rem 1.55rem


@media screen and (min-width: 800px) and( max-width: 812px )
    .modal
        &__dialog
            max-height: 29rem
        &__input
            margin-bottom: 1rem
            height: 2.2rem
        &__policy
            margin-bottom: 0
        &__title
            margin-bottom: 1rem      

@media screen and (min-width: 400px) and ( max-width: 860px )   
    .row
        &__team
            flex-direction: column
            text-align: center
    .col-33
        margin: 0 auto    
        margin-bottom: 5rem    

@media screen and ( max-width: 768px )
    .row
        flex-direction: column
        align-items: center
    .types
      &__card
        margin-bottom: 5rem  
    .button
        &--outline
            margin-top: 1.42rem
    .footer
        &__map
            width: 100%  
        &__title__wrap
            &__text
                max-width: 38rem
    .card
        &__team
            margin-bottom: 6rem            

@media screen and ( max-width: 767px )
    h3 
        font-size: calc(22px + (5 + 5 * 0.7) * ((100vw -320px) / 1236))

@media screen and (min-width: 577px) and ( max-width: 731px )
    .modal
        &__dialog
            max-height: 32.5rem
        &__input
            margin-bottom: 1rem
            height: 2.2rem
    .footer
        &__title__wrap
            &__text
                max-width: 38rem 
    .control
        &__button
            padding: 1rem 3rem                   


@media screen and (min-width: 580px) and( max-width: 667px )
    .modal
        &__dialog
            max-height: 28rem
        &__input
            margin-bottom: 1rem
            height: 1.8rem   
        &__title
            margin-bottom: 1.5rem     
    .card
        &__team
            margin-bottom: 7.3rem
            
@media screen and (min-width: 320px) and( max-width: 375px )       
    .card
        &__text
            margin-left: 0

@media screen and ( max-width: 576px ) 
    .container
        width: 90%   
        margin-top: 0
    .contacts
        &__phone
            margin-right: 0.001px
            color: $light
            text-decoration: none
        &__button
            display: none
    .logo
       font-size: 1rem
       letter-spacing: 0.036em         
    .title
        font-size: 1.85rem
        margin: 0
    .card
        &__text
            max-width: 22.4rem  
            margin-top: -12.23rem 
            padding: 1.45rem 2.46rem
        &__pricatag
            bottom: -1rem
            padding: 1.2rem 2.5rem  
            animation: none
            text-align: center
            &__team
                font-size: 1.1rem  
        &__list
            line-height: 1.9rem 
            margin-bottom: 2.9rem
            &__team
                margin-bottom: 2.65rem
        &__title
            &__team
                font-size: 1.5rem //1.185em
         
        &__team   
            margin-top: -6.93rem   
            margin-bottom: 6.6rem
            padding: 1.45rem 2.06rem
            max-width: 19.3rem
            margin-left: auto
        &__item
            &__team
                font-size: 1.485rem    
    .hero 
        height: 100vh  
        &__scroll-down
            display: none
        &__title  
            letter-spacing: 0.017em  
            padding-top: 3.48rem
            line-height: 1.47em
        &__content
            max-width: 28rem
        &__text
            font-size: 1.46rem   
            line-height: 1.4em
            letter-spacing: 0.01em
            padding-bottom: 2.67rem
            max-width: 26.3rem
        &__button
            width: 100%
            font-size: 1.08rem
            &__one
                width: 100%
                font-size: 1.2rem
    .button--outline
            margin-top: 2rem 
    .row
        &__slide
            margin-bottom: 0        
    .section-title
        &__heading
            font-size: 1.85rem 
            margin-top: 0.833rem
            margin-bottom: 1.65rem  
            color: $light  
            line-height: 145%
            &--design
                color: $light
                margin-bottom: 1.15rem
            &--primary
                color: $primary    
            &--types
                color: $dark    
        &__text
            max-width: 24rem
            font-size: 1.15rem
            &::after
                display: none           
    .types__section-title
        margin-bottom: 3.3rem  
    .types
        &__card
            margin-bottom: 6rem                         
    .section
        &__text
            &__design
                max-width: 25rem
                font-size: 1.25rem
                margin-top: 1.45rem
                color: $light
                line-height: 1.7rem
    .design-project 
        background-color: $dark

                  
    .modal__dialog
            margin: 2.14rem 
            width: 100%
    .col-50
        width: 100%  
    .col-30

    .col-33 
        display: flex  
    .control
        background-color: $dark
        margin-bottom: 6.8rem
        &__label
            color: rgba(255, 255, 255, 0.5) 
        &__policy
            margin-top: 0
            &-label
                justify-content: flex-start
                margin-bottom: 5.3rem 
                color: $light   
                padding-top: 1rem
                font-size: 1.342rem
                margin-left: 0  
        &__video
            min-height: 18.3rem 
            margin-bottom: 1.128rem             

        &__button
            order: 2  
            margin-bottom: -2.08rem  
            width: 20rem
            margin: auto  
            font-size: 1.342rem
        &__text
            max-width: 100%
            font-size: 1.16rem 
            color: $light
            margin-bottom: 0
            line-height: 2rem
        &__form
            flex-direction: column  
        &__input
            font-size: 1.5rem
            &-group 
                font-size: 1.5rem   
                color: $light
                margin-top: 2.6rem  
                &--form
                    margin-top: 5.5rem
            &__group
                font-size: 1.485rem 
                &::placeholder
                    color: $light
    .section
        &__team
            margin-bottom: 0
            background-color: $dark
            margin-top: -5rem
    .footer
        background: $dark
        padding-top: 0 
        margin-top: -1.3rem
        &__map
            display: block
            width: 100%
            margin-bottom: 3rem
        &__wrap
            padding: 0 
            background-color: $dark 
            margin-top: 0
            margin-bottom: 4rem
        &__title
            display: flex
            justify-content: center
            font-size: 1.666rem
            margin-bottom: 1.542rem
            &__wrap
                &__text
                    max-width: 25.8rem
                    font-size: 1.43rem   
                    letter-spacing: 0.030rem  
                    line-height: 2.2rem 
                    margin-bottom: 0.2rem  
            &__form
                margin-bottom: 4.442rem
        &__input
            font-size: 1.5rem
            &-group
                flex-basis: 100%
                color: $light
                margin-bottom: 5.2rem
                &--full-width
                    margin-bottom: 0.49rem
        &__button
            font-size: 1.25rem
        &__wrapper
            display: flex
            flex-direction: column-reverse        
        &__menu
            display: none 
        &__social
            margin-bottom: 4.08rem  
            &__instagram
                margin-left: 1.7rem  
                width: 3rem
            &__email 
                width: 3rem   
        &__contacts
            &__phone
                letter-spacing: 0.065rem        
                
    .policy
        &__label
            &--center
                font-size: 1.333rem
                justify-content: flex-start   
                letter-spacing: 0.015rem
                margin-bottom: 2.2rem 
                margin-left: 0  
    .swiper
        &-slide
            margin-top: 1.242rem
            &__text
                margin-bottom: 2.6rem  
                flex-basis: 47.6%
            &__heading
                font-size: 1.085rem 
                margin-bottom: 0.83rem     
            &__value
                letter-spacing: 0.03rem                    
    .team
        &__description
            display: none
            &__text
                width: 18rem  
                color: $light  
        &__title
            font-size: 1.828rem
            color: $light
            margin-bottom: 1.1rem
            &__text
                width: 100% //27.6rem
                font-size: 1.228rem  
                color: $light
                margin-top: 1.5rem
                margin-bottom: 6.557rem
                line-height: 1.828rem
        &__card
            margin-bottom: 2.4rem        
        &__text
            width: 100% //27.9     

@media screen and (min-width: 320px) and( max-width: 349px )
    .team
        &__text
            width: 100%        
    .card           
        &__team 
            margin-top: -6.43rem       
    .modal
        &__button
            padding: 16px 14px

@media screen and (min-width: 320px) and( max-width: 350px )
    team
        &__card
            &__image
                display: none

@media screen and ( min-width: 350px) and( max-width: 380px )
    .card
        &__image
            &--team
                width: 25.466rem
@media screen and ( min-width: 360px) and( max-width: 374px )  
    .col-33
            margin-left: 2.2rem  
                                                    

@media screen and ( max-width: 414px ) 
    .control
        &__button
            width: 100%
            margin-bottom: -2.18rem
@media screen and ( max-width: 1024px )            
    .control__policy em.invalid 
        margin-top: 0  
    .modal__policy em.invalid 
        margin-top: 2rem    
    .modal
        &__policy  
            padding-top: 2.9rem    
        &__button
            width: 100%        
@media screen and ( max-width: 384px )            
    .col-33
         margin-left: auto 
@media screen and ( max-width: 380px )
    .footer
        &__button
            width: 100%
    .col-33
            margin-left: auto        
    

    

                
            
                       
    

                
              
             
          

       
 
            



 

      

