.client
    background: $light url('../img/background-control.png') no-repeat center
    background-size: cover  // изображение подстраивается по ширину экрана
    height: fit-content
    margin-bottom: 28.7rem
    &__image
        position: absolute
        z-index: 2
        width: 33px
        height: 33px
        margin: 0.6rem 0
    &__image1
        position: absolute
        left: 35.8%  
        z-index: 1
    &__image2
        position: absolute
        left: 41%    
        margin-top: 0.5rem  
        z-index: 1
    &__wrapper
        display: flex 
        align-items: center   
    &__types
        &__card
            margin-top: 9.2rem    
.section
    &__client
        &__subtitle
                max-width: 23rem    
.card
    &__pricatag
        &__wrapper
            display: flex  
        &__client 
            position: absolute  
            padding: 1.2rem 8.7rem
            padding-left: 4.2rem
        &__client2
            position: absolute
            margin-left: 12.2rem  
            text-transform: inherit  
            padding: 1.2rem 1.6rem
                          
    &__design
        &--client
            width: 100%
            height: 100%  
        &-client
            width: 19.285rem          
    &__image
        &--client
            border-radius: 50%        
    &__title
        &--client
            margin-left: 1.242rem 
            line-height: 27px    
            padding-top: 0.8rem
    &__item
        &__list
            &::before
                display: none
    &__list
        &--client
            padding: 2.785rem 0 0 0  
sup
    top: -0.3em                            