
.design
        &-project
                padding-bottom: 5rem     
                margin-top: 5rem  // был 5rem 
                font-size: 1.4rem                      
.col
    flex-basis: 31.5%   





    