
.design
        margin-top: 50px
        &-project
                padding-bottom: 4rem 

.section-title
        &__heading
                margin: 4rem 0 1.45rem 0                      
.section__text
        &__design
                text-align: center
                max-width: 52rem
                margin: 0 auto
                color: $gray
                font-family: 'Futura Book', sans-serif
                font-size: 1.428rem
                line-height: 1.8rem
                margin-bottom: 3.49rem
                margin-top: 1.1rem                             
.col
    flex-basis: 31.5%   





    