.footer
    background: $dark url("../img/footer-bg.jpg") no-repeat center / cover
    padding-top: 3rem
    &__contacts
        &__phone
            color: $primary
            text-decoration: none
    &__wrap
        background-color: $black
        max-width: 63.07rem
        margin: auto
        padding: 2.5rem
        margin-top: -20rem
        margin-bottom: 4rem    
    &__title //wrapper
        text-transform: uppercase 
        font-family: 'Yeseva One', cursive
        font-display: swap
        font-style: normal
        font-weight: normal
        display: flex
        font-size: 1.428rem
        justify-content: center
        margin-top: 0
        margin-bottom: 3.142rem   
        &__wrap //title
            flex-direction: column    
            &__text
                color: $primary  
                text-transform: uppercase
                font-family: 'Yeseva One', cursive
                font-display: swap
                font-size: 1.228rem
                display: flex
                max-width: 38rem 
                text-align: center
                margin: auto  

    &__wrapper
            display: flex
            flex-direction: column                
    &__map   
        margin: auto 
        height: 465px
        width: 63.07rem                
    &__social
        text-align: center
        margin-bottom: 2.5rem    
        &__instagram
            margin-left: 1.07rem              
    &__form
        display: flex
        flex-wrap: wrap  
        justify-content: space-between 
        max-width: 37.142rem
        margin: auto 
    &__input
        padding-top: 0.3rem
        &-group
            display: flex
            flex-direction: column
            flex-basis: 45%  
            margin-bottom: 3.2rem  
            &--full-width
                flex-basis: 100% 
                margin-bottom: 2rem    
    &__policy
        flex-basis: 100% 
        margin-bottom: 3.6rem
    &__button
        margin: auto    
        padding: 1.285rem 4.785rem                
    &__menu
        background: $dark
        padding: 2.4rem 0 
.button--up
    background-color: transparent
    border: none
    left: 0
    margin: 0
    bottom: 20px
    outline:none
    position: fixed
    background: url("img/arrow-icon.png") no-repeat
