.footer
    background: $dark url("../img/footer-bg.jpg") no-repeat center / cover
    padding-top: 3rem
    &__wrap
        background-color: $black
        max-width: 63.07rem
        margin: auto
        padding: 2.5rem
        transform: translate(0, -50%) 
        /** возможно отступ и не нужен будет **/
        margin-bottom 3.714rem
    &__title 
        text-transform: uppercase
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        font-size: 1.428rem
        text-align: center
        margin-bottom: 3.214rem
        margin-top: 0
        &__wrapper
            margin: auto
            &__text
            color: $primary  
            font-size: 18px 
            text-transform: uppercase
            font-family: 'Yeseva One', cursive
            font-size: 1.428em
            display: flex
            max-width: 35rem
            text-align: center
    &__social
        text-align: center
        margin: 2rem 3rem    
        &__instagram
            margin-left: 1.07rem              
    &__form
        display: flex
        flex-wrap: wrap  
        justify-content: space-between 
        max-width: 37.142rem
        margin: auto 
    &__input
        padding-top: 0.3rem
        &-group
            display: flex
            flex-direction: column
            flex-basis: 45%  
            margin-bottom: 3.2rem  
            &--full-width
                flex-basis: 100% 
                margin-bottom: 2rem    
    &__policy
        flex-basis: 100% 
        margin-bottom: 3.6rem
    &__button
        margin: auto    
        padding: 1.285rem 4.785rem 
    &__menu
        background: $dark
        padding: 4.285rem 0
    &__map    
        height: 465px
        width: 900px
        margin: auto
        margin-bottom: 6rem


