.section__types
    background: $light url('../img/background-control.png') no-repeat center
    background-size: cover  // изображение подстраивается по ширину экрана
    height: fit-content
    margin-bottom: 15rem
.types
    &__section-title
        margin-bottom: 2rem 
.card 
  &__text
    position: relative
    max-width: 86.1%
    margin: 0 auto 
    margin-top: -9.7rem
    padding: 1.75rem 2.17rem
    background-color: #fff
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
    &__projects
      margin-top: -9.3rem
      padding: 1.45rem 2.97rem
      &--one
        margin-top: -9.3rem
        padding: 1.45rem 2.67rem
      &--two  
        margin-top: -9.3rem
        padding: 1.45rem 2.57rem
    &-card__team
      position: relative
      max-width: 85% //20.7rem
      margin: 0 auto 
      margin-top: -6.8rem
      padding: 1.2rem 2rem
      background-color: #fff
      text-align: center
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: 'Yeseva One', cursive  
    font-display: swap
    font-size: 1.29rem
    margin-top: 0.04rem
    margin-bottom: 0.5rem
    &__design
      margin-left: 2.4% // было 0.7rem 
      &--one
        margin-left: 0.3rem
      &--two
        margin-left: 0.2rem  
  &__list
    padding: 0 0 0 1.55rem //0.95
    margin: 0   
    font-size: 1.07rem
    line-height: 1.8rem
    color: $secondary  
    margin-bottom: 2.5rem
    list-style: none
    &__team
      padding: 0
    &--projects
        padding: 0 0 0 0.85rem 
        margin-bottom: 2.8rem
    &__design
      &--three
            padding: 0 0 0 1.15rem    
  &__item  
    &::before
      content: ''
      position: absolute
      width: 0.3rem
      height: 0.3rem
      background-color: $secondary
      border-radius: 50%  
      top: 0.75rem
      left: -0.7rem
  &__item
    position: relative      
  &__pricatag
    position: absolute
    left: 0
    bottom: -1.85rem
    font-size: 1.29rem
    font-family: 'Yeseva One', cursive
    font-display: swap
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.2rem 3rem
    font-weight: normal
    &__team
      width: 100%
      font-size: 0.928rem
    &__projects
      padding: 1.2rem 2.6rem  
      &-two
          padding: 1.2rem 2.6rem
      
.card__design
    width: 16.285rem  

   
        

  
    

 





